<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buxiu.bootexample.mapper.AlgorithmConfigMapper">

    <sql id="selectSQL">
        a.algorithmid, a.algorithmcode, a.algorithmname, a.catalogcode, a.catalogname, a.status, a.repeatedalarmtime, a.nodetype, a.vendor, 
        a.description, a.addtime, a.updatetime
    </sql>

    <sql id="whereSQL">
        where 1=1
        <if test="algorithmid != null ">
            <![CDATA[
                and a.algorithmid = #{algorithmid}
            ]]>
        </if>
        <if test="algorithmcode != null ">
            <![CDATA[
                and a.algorithmcode = #{algorithmcode}
            ]]>
        </if>
        <if test="algorithmname != null ">
            <![CDATA[
                and a.algorithmname = #{algorithmname}
            ]]>
        </if>
        <if test="catalogcode != null ">
            <![CDATA[
                and a.catalogcode = #{catalogcode}
            ]]>
        </if>
        <if test="catalogname != null ">
            <![CDATA[
                and a.catalogname = #{catalogname}
            ]]>
        </if>
        <if test="status != null ">
            <![CDATA[
                and a.status = #{status}
            ]]>
        </if>
        <if test="repeatedalarmtime != null ">
            <![CDATA[
                and a.repeatedalarmtime = #{repeatedalarmtime}
            ]]>
        </if>
        <if test="nodetype != null ">
            <![CDATA[
                and a.nodetype = #{nodetype}
            ]]>
        </if>
        <if test="vendor != null ">
            <![CDATA[
                and a.vendor = #{vendor}
            ]]>
        </if>
        <if test="description != null ">
            <![CDATA[
                and a.description = #{description}
            ]]>
        </if>
        <if test="addtime != null ">
            <![CDATA[
                and a.addtime = #{addtime}
            ]]>
        </if>
        <if test="updatetime != null ">
            <![CDATA[
                and a.updatetime = #{updatetime}
            ]]>
        </if>
    </sql>

    <select id="countAlgorithmConfigs" resultType="int" parameterType="AlgorithmConfigPo">
        select
            count(8)
        from ait_algorithm_config a
        <include refid="whereSQL" />
    </select>

    <select id="findAlgorithmConfigsByPage" resultType="AlgorithmConfigPo" parameterType="AlgorithmConfigPo">
        select
            <include refid="selectSQL" />
        from ait_algorithm_config a
        <include refid="whereSQL" />
        <choose>
            <when test="sortord != null and '' != sortord">
                order by a.${sortord}
            </when>
            <otherwise>
                order by a.algorithmid desc
            </otherwise>
        </choose>
    </select>

    <select id="getAlgorithmConfigById" resultType="AlgorithmConfigPo" parameterType="Integer">
        select
            <include refid="selectSQL" />
        from ait_algorithm_config a
        where algorithmid = #{algorithmid}
    </select>

    <select id="getAlgorithmConfigEx" resultType="AlgorithmConfigPo" parameterType="AlgorithmConfigPo">
        select
            <include refid="selectSQL" />
        from ait_algorithm_config a
        <include refid="whereSQL" />
        limit 0, 1
    </select>

    <insert id="addAlgorithmConfig" parameterType="AlgorithmConfigPo">
        insert into ait_algorithm_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="algorithmid != null ">algorithmid,</if>
            <if test="algorithmcode != null ">algorithmcode,</if>
            <if test="algorithmname != null ">algorithmname,</if>
            <if test="catalogcode != null ">catalogcode,</if>
            <if test="catalogname != null ">catalogname,</if>
            <if test="status != null ">status,</if>
            <if test="repeatedalarmtime != null ">repeatedalarmtime,</if>
            <if test="nodetype != null ">nodetype,</if>
            <if test="vendor != null ">vendor,</if>
            <if test="description != null ">description,</if>
            <if test="addtime != null ">addtime,</if>
            <if test="updatetime != null ">updatetime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="algorithmid != null ">#{algorithmid,jdbcType=INTEGER},</if>
            <if test="algorithmcode != null ">#{algorithmcode,jdbcType=VARCHAR},</if>
            <if test="algorithmname != null ">#{algorithmname,jdbcType=VARCHAR},</if>
            <if test="catalogcode != null ">#{catalogcode,jdbcType=VARCHAR},</if>
            <if test="catalogname != null ">#{catalogname,jdbcType=VARCHAR},</if>
            <if test="status != null ">#{status,jdbcType=INTEGER},</if>
            <if test="repeatedalarmtime != null ">#{repeatedalarmtime,jdbcType=INTEGER},</if>
            <if test="nodetype != null ">#{nodetype,jdbcType=VARCHAR},</if>
            <if test="vendor != null ">#{vendor,jdbcType=VARCHAR},</if>
            <if test="description != null ">#{description,jdbcType=VARCHAR},</if>
            <if test="addtime != null ">#{addtime,jdbcType=VARCHAR},</if>
            <if test="updatetime != null ">#{updatetime,jdbcType=VARCHAR},</if>
        </trim>
        <selectKey keyProperty="algorithmid" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateAlgorithmConfig" parameterType="AlgorithmConfigPo">
        update ait_algorithm_config
        <trim prefix="set" suffixOverrides="," suffix=" where algorithmid = #{algorithmid} ">
            <if test="algorithmid != null">
                <![CDATA[
                    algorithmid = #{algorithmid,jdbcType=INTEGER},
                ]]>
            </if>
            <if test="algorithmcode != null">
                <![CDATA[
                    algorithmcode = #{algorithmcode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="algorithmname != null">
                <![CDATA[
                    algorithmname = #{algorithmname,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="catalogcode != null">
                <![CDATA[
                    catalogcode = #{catalogcode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="catalogname != null">
                <![CDATA[
                    catalogname = #{catalogname,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="status != null">
                <![CDATA[
                    status = #{status,jdbcType=INTEGER},
                ]]>
            </if>
            <if test="repeatedalarmtime != null">
                <![CDATA[
                    repeatedalarmtime = #{repeatedalarmtime,jdbcType=INTEGER},
                ]]>
            </if>
            <if test="nodetype != null">
                <![CDATA[
                    nodetype = #{nodetype,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="vendor != null">
                <![CDATA[
                    vendor = #{vendor,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="description != null">
                <![CDATA[
                    description = #{description,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addtime != null">
                <![CDATA[
                    addtime = #{addtime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updatetime != null">
                <![CDATA[
                    updatetime = #{updatetime,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </update>

    <delete id="deleteAlgorithmConfigById" parameterType="Integer">
        delete from ait_algorithm_config where algorithmid = #{algorithmid}
    </delete>

    <delete id="deleteAlgorithmConfigEx" parameterType="AlgorithmConfigPo">
        delete from ait_algorithm_config
        <include refid="whereSQL" />
    </delete>
</mapper>
